# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
voice-recorder-server/build/

# Environment variables
.env

# Google Cloud credentials
*.json

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
